<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mischaboldy.mischa.rehapp">
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rehapp_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.AppIntroduction"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainMenu"
            android:label="@string/title_activity_my_training"
            android:parentActivityName=".Activities.AppIntroduction"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AppIntroduction" />
        </activity>


        <activity
            android:name=".Activities.MyProfile"
            android:label="@string/my_profile_title"
            android:parentActivityName=".Activities.MainMenu"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainMenu" />
        </activity>
        <activity
            android:name=".Activities.MyMedals"
            android:label="@string/my_medals_title"
            android:parentActivityName=".Activities.MainMenu"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainMenu" />
        </activity>
        <activity
            android:name=".Activities.Settings"
            android:label="@string/settings_title"
            android:parentActivityName=".Activities.MainMenu"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainMenu" />
        </activity>
        <activity
            android:name=".Activities.MyWorkouts"
            android:label="@string/info_title"
            android:parentActivityName=".Activities.MainMenu"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainMenu" />
        </activity>
        <activity
            android:name=".Activities.Info"
            android:label="@string/info_title"
            android:parentActivityName=".Activities.MainMenu"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainMenu" />
        </activity>
        <activity
            android:name=".Activities.Help"
            android:label="@string/help_title"
            android:parentActivityName=".Activities.MainMenu"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainMenu" />
        </activity>

        <activity
            android:name=".Activities.TrainingProgram"
            android:label="@string/title_activity_my_training"
            android:parentActivityName=".Activities.MyProfile"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MyProfile" />
        </activity>
        <activity
            android:name=".Activities.ShowProgress"
            android:label="@string/show_progress_title"
            android:parentActivityName=".Activities.MyProfile"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MyProfile" />
        </activity>


        <activity
            android:name=".Activities.Leaderboard"
            android:label="@string/info_title"
            android:parentActivityName=".Activities.MyMedals"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MyMedals" />
        </activity>


        <activity
            android:name=".Activities.EnterWorkout"
            android:label="@string/title_input_workout"
            android:parentActivityName=".Activities.TrainingProgram"
            android:theme="@style/AppTheme"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.TrainingProgram" />
        </activity>
        <activity
            android:name=".Activities.MyCalendar"
            android:label="@string/info_title"
            android:parentActivityName=".Activities.TrainingProgram"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.TrainingProgram" />
        </activity>
        <activity
            android:name=".Activities.EnterTest"
            android:label="@string/info_title"
            android:parentActivityName=".Activities.MyProfile"
            android:theme="@style/AppTheme"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MyProfile" />
        </activity>
        <activity
            android:name=".Activities.EnterTraining"
            android:label="@string/info_title"
            android:parentActivityName=".Activities.MyMedals"
            android:theme="@style/AppTheme"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MyProfile" />
        </activity>
    </application>
</manifest>